@use 'variaveis';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background: variaveis.$corPrimaria;
  font-size: larger;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0 2rem;
}

.tituloPrincipal {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  color: variaveis.$corSecundaria;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: variaveis.$corSecundaria;

  a {
    background: variaveis.$corTerciaria;
    font-size: 20px;
    color: #f7c9d6;
    text-decoration: none;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    &:hover {
      color: #f00a88;
      transition: all 0.3s;
    }
  }

  li {
    list-style-type: none;
  }
}

.divBusca {
  align-self: end;
  display: flex;
  margin: 1rem 2rem 1rem 0;
  justify-content: end;
  background-color: variaveis.$corPrimaria;
  border: solid 1px;
  border-radius: 15px;
}

.txtBusca {
  background-color: transparent;
  padding: 2px 12px;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 32px;
  &:focus {
    outline: none;
  }
}

.eventoPrincipal {
  background: variaveis.$corSecundaria;
  color: variaveis.$corPrimaria;
}

.eventoDestaque {
  display: flex;
  justify-content: center;

  img {
    width: 90%;
    height: 40rem;
  }
}

.descricaoDestaque {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.detalhes {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.detalheData {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.listaEventos {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  text-align: center;
  background: variaveis.$corSecundaria;
  color: variaveis.$corPrimaria;
}

.imgProxEvento {
  display: flex;
  justify-content: center;
  flex: 33.33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divForm {
  display: flex;
  justify-content: center;
}
form {
  margin: 40px 0;
  padding-left: 10px;
}

form label,
form legend {
  display: block;
  color: variaveis.$corSecundaria;
  font-weight: bolder;
  font-size: 20px;
  margin: 0 0 30px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 90%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 50%;
  padding: 15px 0;
  background: variaveis.$corSecundaria;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: variaveis.$corTerciaria;
  transform: scale(1.1);
}

footer {
  text-align: center;
  color: variaveis.$corPrimaria;
  font-weight: bold;
  background: variaveis.$corSecundaria;
  padding: 40px 0;
}

.copyright {
  color: variaveis.$corPrimaria;
  font-size: 13px;
  margin: 20px 0 0;
}

.externo {
  padding: 8px 5px;
}
